body {
  font-size: 16px;
  background-color: #667292;
  font-family: 'Oxygen', sans-serif;
}

::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}

h1 {
	color: black;
	font-weight: bold;
}

#header-nav {
  border-radius: 0;
  border: 0;
}

.navbar-brand {
	color: floralwhite !important;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
}

#drop-down-menu {
	text-align: center;
}

#drop-down-menu li {
	border: solid;
	border-color: floralwhite;
	border-radius: 25px;
	background-color: #222;
}

#drop-down-menu a {
	color: floralwhite;
	text-decoration: none;
	font-size: 25px;
	font-weight: bold;
	
}


#main-menu-title {
	text-shadow: 1px 5px black;
	color: floralwhite;
	background-color: #222;
	border-radius: 25px ;
	padding-top: 20px;
	padding-bottom: 20px;

	border:solid;
	border-color: floralwhite;

}

.row {
	margin-bottom: 10px;
}

.menu-title {
	border-radius: 25px 25px 0px 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 0px;
	background-color: #222;
	color: floralwhite;

}

#chicken {
	border-radius: 0px 0px 25px 25px;
	background-color: #bccad6;
	color: black;
	padding: 20px 15px 15px 10px;
}

#beef {
	border-radius: 0px 0px 25px 25px;
	background-color: #b7d7e8;
	color: black;
	padding: 20px 15px 20px 15px;

}

#sushi {
	border-radius: 0px 0px 25px 25px;
	background-color: #87bdd8;
	color: black;
	padding: 20px 15px 20px 15px;

}

